@import 'tailwindcss';

@theme {
    --color-purple: #D599FF;
    --color-purple-dark: #9370FF;
    --color-red: #FF9E97;
    --color-orange: #FED69D;
    --color-blue: #8CD5FF
}

html {
    transition: font-size 0.2s ease;
}


